body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #666;
    line-height: 1.7;
}
footer{
    position: fixed;
    bottom: 0;
    width: 35%;
    left: 0;
    padding: 0 54px 72px 0;
    box-sizing: border-box;
    text-align: right;}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 15px;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}
li{
    padding-left: .5em;
}
input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input, textarea, select{
    background: #ccc;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid transparent;
    margin-bottom: 15px;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
}
input:focus, textarea:focus{
    border: 3px solid #49bf9d;
    outline: none;
}
textarea{
    height: 10em;
}

.button-default{
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
    width: auto;
    transition: all .5s;
    cursor: pointer;}

    .main-footer{
        position: fixed;
        bottom: 0;
        width: 35%;
        left: 0;
        padding: 0 54px 72px 0;
        box-sizing: border-box;
        text-align: right;
    }
    .main-header{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 35%;
        padding: 124px 54px 72px;
        box-sizing: border-box;
        background-image: url(imag/overlay.png),
         url(imag/bg.jpg);
        background-position: left top;
        background-size: auto, cover;
        text-align: right;
    }
    .main-conter{
        width: 65%;
        margin-left: 35%;
        padding: 124px 54px 72px;
        box-sizing: border-box;
    }.table{
        width: 100%;
        margin: 0 0 2em 0;
        border-collapse: collapse;
        text-align: center;
    }
    .table td{
        padding: .75em;
    }
    .table th{
        background: #ccc;
        padding: .75em;
    }
    .table tbody tr td{
        border-bottom: 1px solid #ccc;
    }
    .table tbody tr:first-child td{
        border-top: 2px solid #666;
    }
    .table tbody tr:last-child td{
        border-bottom: 2px solid #666;
    }
    
    .table tbody tr:nth-child(even) td{
        background: #eee;
    }
    
    .table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child td{
        border: 1px solid #ddd;
    }
    .main-header-title{
        font-size: 22px;
        line-height: 1.5;
        color: white;
        font-weight: normal;
        color: rgba(255, 255, 255, .5)
    }
    label span{
    
        display: inline-block;
        width: 60px;
        height: 30px;
        background: rgb(119, 117, 117);
        border-radius: 15px;

         

    } 
    label span:before{
        content: "";
        display: block;
        background-color:#a4daca;
        width: 20px;
        height: 20px;
        margin-top: 5px;
        border-radius: 15px;
        

    }
    label input:checked + span::before{
        transform: translateX(30px);
        background-color:#5ed410;

    }
    input{
        visibility: hidden;
    }
    
   
    